scratch/
*.bundle
*.log
*.o
*.so
*.jar
*.rbc
doc
log
pkg
tmp
t/
.rbx/
Gemfile.lock
.idea/
/test/test_puma.state
/test/test_server.sock
/test/test_control.sock

# windows folders & files
*.gem
./Rakefile_wintest
lib/puma/puma_http11.rb
win_gem_test/packages/
win_gem_test/test_logs/
