scratch/
*.bundle
*.log
*.o
*.so
*.jar
*.rbc
doc
log
pkg
tmp
t/
.rbx/
Gemfile.lock
.idea/
/test/test_puma.state
/test/test_server.sock
/test/test_control.sock

# windows local build artifacts
/win_gem_test/shared/
/win_gem_test/packages/
/win_gem_test/test_logs/
/Rakefile_wintest
*.gem
/lib/puma/puma_http11.rb
