name: CI

on: [push, pull_request]

jobs:
  build:
    name: >-
      ${{ matrix.os }} ${{ matrix.ruby }}
    env:
      CI: true
      TESTOPTS: -v

    runs-on: ${{ matrix.os }}-latest
    if: |
      !(   contains(github.event.pull_request.title,  '[ci skip]')
        || contains(github.event.pull_request.title,  '[skip ci]')
        || contains(github.event.head_commit.message, '[ci skip]')
        || contains(github.event.head_commit.message, '[skip ci]'))
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu, macos, windows ]
        ruby: [ 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, head, jruby, truffleruby-head ]
        include:
          - { os: windows , ruby: mingw }
          - { os: ubuntu  , ruby: jruby-head, allow-failure: true }
        exclude:
          - { os: windows , ruby: head }
          - { os: windows , ruby: jruby }
          - { os: windows , ruby: truffleruby-head }

    steps:
      - name: repo checkout
        uses: actions/checkout@v2

      - name: load ruby, ragel
        uses: MSP-Greg/setup-ruby-pkgs@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          apt-get: ragel
          brew: ragel
          mingw: _upgrade_ openssl ragel

      - name:  bundle install
        shell: pwsh
        run:   |
          # update RubyGems in Ruby 2.2, bundle install
          if ('${{ matrix.ruby }}' -lt '2.3') {
            gem update --system 2.7.10 --no-document
          }
          bundle install --jobs 4 --retry 3

      - name: compile
        run:  bundle exec rake compile

      - name: rubocop
        run: bundle exec rake rubocop

      - name: test
        id: test
        timeout-minutes: 10
        continue-on-error: ${{ matrix.allow-failure || false }}
        if: success() # only run if previous steps have succeeded
        run: bundle exec rake test:all

      - name: >-
          Test outcome: ${{ steps.test.outcome }}
        # every step must define a `uses` or `run` key
        run: echo NOOP
