name: rack-conform

on:
  push:
    branches: [main]
  workflow_dispatch:
  issue_comment:
    types: [created]

permissions:
  contents: read # to fetch code (actions/checkout)
  pull-requests: read

jobs:
  gate:
    uses: ./.github/workflows/ci_gate.yml

  skip_duplicate_runs:
    needs: gate
    if: needs.gate.outputs.should_run == 'true'
    uses: ./.github/workflows/skip_duplicate_workflow_runs.yml

  rack-conform:
    name: >-
      ${{ matrix.os }} Ruby ${{ matrix.ruby }} rack-conform
    needs: [gate, skip_duplicate_runs]
    runs-on: ${{ matrix.os }}
    if: |
      needs.gate.outputs.should_run == 'true' &&
      needs.gate.outputs.run_full_matrix == 'true' &&
      (needs.skip_duplicate_runs.outputs.should_skip != 'true')
    strategy:
      fail-fast: false
      matrix:
        include:
          - { os: ubuntu-22.04 , ruby: '3.2' }
          - { os: ubuntu-22.04 , ruby: '3.3' }
          - { os: ubuntu-22.04 , ruby: '3.4' }
          - { os: ubuntu-24.04 , ruby: head  }

    env:
      BUNDLE_GEMFILE: gems/puma-head-rack-v3.rb
      RACK_CONFORM_SERVER: puma
      RACK_CONFORM_ENDPOINT: http://localhost:9292

    steps:
      - name: checkout rack-conform
        uses: actions/checkout@v6
        with:
          repository: socketry/rack-conform

      - name: Update gems/puma-head-rack-v3.rb
        run: |
          # use Puma from current repo (may be a fork) & sha
          SRC="gem ['\"]puma['\"].*"
          DST="gem 'puma', git: 'https://github.com/${{ needs.gate.outputs.pr_head_repo || github.repository }}.git', ref: '${{ needs.gate.outputs.pr_head_sha || github.sha }}'"
          sed -i "s#$SRC#$DST#" gems/puma-head-rack-v3.rb

      - name: load ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          rubygems: latest
          bundler-cache: true
          cache-version: rack-conform
        timeout-minutes: 10

      - name: cat gems/puma-head-rack-v3.rb.lock
        run: cat gems/puma-head-rack-v3.rb.lock

      - name: rack-conform test
        id: test
        timeout-minutes: 10
        run: bundle exec bake test
        continue-on-error: true
        if: success()

      - name: >-
          Test outcome: ${{ steps.test.outcome }}
        # every step must define a `uses` or `run` key
        run: cat server.log
