name: Rack_v2

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  rack_v2:
    name: >-
      Rack_v2: ${{ matrix.os }} ${{ matrix.ruby }}
    env:
      CI: true
      TESTOPTS: -v
      PUMA_TEST_DEBUG: true
      PUMA_NO_RUBOCOP: true
      PUMA_CI_RACK_2: true

    runs-on: ${{ matrix.os }}
    if: |
      !(   contains(github.event.pull_request.title,  '[ci skip]')
        || contains(github.event.pull_request.title,  '[skip ci]'))
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-20.04 ]
        ruby: [ 2.4, 3.1 ]

    steps:
      - name: repo checkout
        uses: actions/checkout@v3

      - name: load ruby
        uses: ruby/setup-ruby-pkgs@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          apt-get: ragel
          brew: ragel
          # below is only needed for Ruby 2.4
          mingw: openssl
          bundler-cache: true
        timeout-minutes: 10

      # fixes 'has a bug that prevents `required_ruby_version`'
      - name: update rubygems for Ruby 2.4 - 2.5
        if: contains('2.4 2.5', matrix.ruby)
        run: gem update --system 3.3.14 --no-document
        continue-on-error: true
        timeout-minutes: 5

      - name: set WERRORFLAG
        shell: bash
        run: echo 'PUMA_MAKE_WARNINGS_INTO_ERRORS=true' >> $GITHUB_ENV

      - name: compile
        run:  bundle exec rake compile

      - name: test
        timeout-minutes: 10
        run: bundle exec rake test:all
